.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 35px 20px;
  border-radius: 8px;
  max-width: 791px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  float: right;
}

.modal-container {
  display: flex;
  gap: 47px;
}

.selfie {
  width: 214px;
  height: 288px;
}

.half-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.userName {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  margin-bottom: 23px;
  text-align: left;
}

strong {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #101828;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.user-info {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.document-images {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.document-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 214px;
  height: 132.24px;
}

.separator {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 24px 0;
}

@media (max-width: 768px) {
  .modal-overlay {
    align-items: flex-start;
    overflow-y: auto;
    padding: 40px 0;
  }

  .modal {
    width: 90%;
    position: relative;
  }

  .modal-container,
  .document-images {
    flex-direction: column;
  }

  .user-info {
    flex-direction: column;
    gap: 24px;
  }
}