@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --react-international-phone-dropdown-item-height: 40px;
  --react-international-phone-dropdown-item-font-size: 16px;
  --react-international-phone-selected-dropdown-item-background-color: #f2f4ff;
  --react-international-phone-dropdown-top: 54px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-width: 430px;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #0c40a6;
  color: rgb(20, 6, 103);
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }
}
